/*

   =Apprenticeship in User Experience Program
   Challenge 5: UI Kit
      
                            __
         o                 /' ) 
                         /'   (                          ,
                     __/'     )                        .' `;
      o      _.-~~~~'          ``---..__             .'   ;
        _.--'  b)                       ``--...____.'   .'
       (     _.      )).      `-._                     <
        `\|\|\|\|)-.....___.-     `-.         __...--'-.'.
          `---......_______,,,`.___.'----... .'         `.;
                                            `-`           ` 
   
   Mel Choyce
   http://choycedesign.com

*/
/* =Reset
-------------------------------------------------------------- */
/*
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, input, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =Typography
-------------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  color: #42545c; }

a:hover {
  text-decoration: underline; }

em {
  font-style: italic; }

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3.75em;
  font-weight: 300; }

h2 {
  margin: 30px 0 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.3125em; }

h3 {
  margin: 15px 0 5px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4375em;
  text-transform: uppercase; }

h4 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase; }

h5 {
  font-size: 0.875em;
  text-transform: uppercase; }

/* =Icons
-------------------------------------------------------------- */
@font-face {
  font-family: 'melicons';
  src: url("../fonts/melicons.eot"); }

.icon-view, .icon-upload, .icon-up, .icon-trash, .icon-star, .icon-search, .icon-save, .icon-right, .icon-pencil, .icon-menu, .icon-mail, .icon-link, .icon-left, .icon-home, .icon-download, .icon-down, .icon-comment, .icon-cog, .icon-check, .icon-chat, .icon-cancel, .icon-attach, .icon-add {
  font-family: 'melicons';
  speak: none;
  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-view:before {
  content: "\76\69\65\77"; }

.icon-upload:before {
  content: "\75\70\6c\6f\61\64"; }

.icon-up:before {
  content: "\61\72\75\70"; }

.icon-trash:before {
  content: "\74\72\61\73\68"; }

.icon-star:before {
  content: "\73\74\61\72"; }

.icon-search:before {
  content: "\73\65\61\72\63\68"; }

.icon-save:before {
  content: "\73\61\76\65"; }

.icon-right:before {
  content: "\61\72\72\69\67\68\74"; }

.icon-pencil:before {
  content: "\70\65\6e\63\69\6c"; }

.icon-menu:before {
  content: "\6d\65\6e\75"; }

.icon-mail:before {
  content: "\6d\61\69\6c"; }

.icon-link:before {
  content: "\6c\69\6e\6b"; }

.icon-left:before {
  content: "\61\72\6c\65\66\74"; }

.icon-home:before {
  content: "\68\6f\6d\65"; }

.icon-download:before {
  content: "\64\6f\77\6e\6c\6f\61\64"; }

.icon-down:before {
  content: "\61\72\64\6f\77\6e"; }

.icon-comment:before {
  content: "\63\6f\6d\6d\65\6e\74"; }

.icon-cog:before {
  content: "\63\6f\67"; }

.icon-check:before {
  content: "\63\68\65\63\6b"; }

.icon-chat:before {
  content: "\63\68\61\74"; }

.icon-cancel:before {
  content: "\63\61\6e\63\65\6c"; }

.icon-attach:before {
  content: "\61\74\74\61\63\68"; }

.icon-add:before {
  content: "\61\64\64"; }

.icon-view:before,
.icon-upload:before,
.icon-up:before,
.icon-trash:before,
.icon-star:before,
.icon-search:before,
.icon-save:before,
.icon-right:before,
.icon-menu:before,
.icon-mail:before,
.icon-pencil:before,
.icon-link:before,
.icon-download:before,
.icon-home:before,
.icon-down:before,
.icon-comment:before,
.icon-cog:before,
.icon-check:before,
.icon-chat:before,
.icon-cancel:before,
.icon-attach:before,
.icon-add:before,
.icon-left:before {
  font-family: 'melicons'; }

.icon-container {
  display: inline-block;
  margin: 5px 15px 5px 0;
  padding: 5px 10px;
  width: 15em;
  font-size: 1em;
  background: #eeeeee; }

.btn.left-icon,
.btn.right-icon {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-weight: 600; }

.left-icon:before {
  float: left;
  margin-right: 10px;
  padding: 0 10px 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.15); }

.right-icon:before {
  float: right;
  margin-left: 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.15); }

/* =Buttons
-------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.4;
  text-align: center;
  color: #42545c;
  cursor: pointer;
  background-color: #eeeeee;
  border: 1px solid #d4d4d4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.15s linear;
  -ms-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear; }
  .btn:hover {
    background-color: #e1e1e1;
    border-color: #c8c8c8; }

button[disabled].btn:hover {
  background-color: #eeeeee;
  border: 1px solid #d4d4d4; }

.btn-dark {
  color: #eee;
  background-color: #42545c;
  border-color: #2d393e; }
  .btn-dark:hover {
    background-color: #37464d;
    border-color: #222b2f; }

button[disabled].btn.btn-dark:hover {
  background-color: #42545c;
  border-color: #2d393e; }

.btn-primary {
  color: #eee;
  background-color: #0074a2;
  border-color: #004f6f; }
  .btn-primary:hover {
    background-color: #006289;
    border-color: #003d55; }

button[disabled].btn.btn-primary:hover {
  background-color: #0074a2;
  border-color: #004f6f; }

.btn-secondary {
  color: #eee;
  background-color: #36a294;
  border-color: #297c71; }
  .btn-secondary:hover {
    background-color: #308f83;
    border-color: #236960; }

button[disabled].btn.btn-secondary:hover {
  background-color: #36a294;
  border-color: #297c71; }

.btn-highlight {
  color: #eee;
  background-color: #d3683e;
  border-color: #b55129; }
  .btn-highlight:hover {
    background-color: #ca5a2e;
    border-color: #a04724; }

button[disabled].btn.btn-highlight:hover {
  background-color: #d3683e;
  border-color: #b55129; }

button[disabled].btn {
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* =Forms
-------------------------------------------------------------- */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
  padding: 7px 0 7px 7px;
  font-size: 0.875em;
  color: #42545c;
  background-color: #efefef;
  border: 1px solid #d5d5d5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05); }

input[disabled] {
  border: none;
  -webkit-box-shadow: inset 0 0 0 transparent;
  box-shadow: inset 0 0 0 transparent; }

input.success {
  background-color: #e2f5f3;
  border: 2px solid #36a294; }
  input.success.placeholder {
    color: #36a294; }
  input.success:-moz-placeholder {
    color: #36a294; }
  input.success:-ms-input-placeholder {
    color: #36a294; }
  input.success::-webkit-input-placeholder {
    color: #36a294; }

input.error {
  background-color: #f9eae4;
  border: 2px solid #d3683e; }
  input.error.placeholder {
    color: #d3683e; }
  input.error:-moz-placeholder {
    color: #d3683e; }
  input.error:-ms-input-placeholder {
    color: #d3683e; }
  input.error::-webkit-input-placeholder {
    color: #d3683e; }

/* =Menus
-------------------------------------------------------------- */
.menu {
  display: inline-block;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #42545c;
  border: 1px solid #2d393e;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

.menu-horizontal {
  margin: 0;
  padding: 10px 0; }

.menu-horizontal li {
  display: inline-block;
  margin: 0;
  border-right: 1px solid #576f7a; }
  .menu-horizontal li:last-child {
    border-right: none; }
  .menu-horizontal li a {
    display: block;
    padding: 0 20px;
    font-weight: 400;
    color: #eeeeee;
    text-decoration: none; }
    .menu-horizontal li a:hover {
      color: #49c2b3; }

/* =Misc Items
-------------------------------------------------------------- */
/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 10px 0;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  color: #42545c;
  background-color: #eeeeee;
  border: 1px solid #d4d4d4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

.breadcrumbs li {
  display: inline-block;
  margin: 0;
  padding-left: 20px; }
  .breadcrumbs li:last-child {
    padding-right: 20px;
    border-right: none; }
  .breadcrumbs li a {
    display: block;
    color: #d3683e;
    font-weight: 600;
    text-decoration: none; }
    .breadcrumbs li a:hover {
      color: #49c2b3; }
    .breadcrumbs li a:after {
      padding-left: 20px;
      content: ">";
      font-weight: 300;
      color: #c7d2d6; }

/* Star star-ratingss */
.star-ratings {
  float: left; }

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.star-ratings:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.star-ratings:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  color: #eeeeee; }

.star-ratings > input:checked ~ label,
.star-ratings:not(:checked) > label:hover,
.star-ratings:not(:checked) > label:hover ~ label,
.star-ratings > input:checked + label:hover,
.star-ratings > input:checked + label:hover ~ label,
.star-ratings > input:checked ~ label:hover,
.star-ratings > input:checked ~ label:hover ~ label,
.star-ratings > label:hover ~ input:checked ~ label {
  color: #d3683e; }

/* Slider Navigation */
.slider-nav {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.slider-navigation input {
  opacity: 0;
  position: absolute;
  cursor: pointer; }

.slider-navigation input + label {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  vertical-align: middle;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.15s linear;
  -ms-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear; }

.slider-navigation input:hover + label {
  background-color: #d3683e;
  border: 1px solid #b55129; }

.slider-navigation input:checked + label {
  background-position: 0 0;
  background-color: #36a294;
  border: 1px solid #297c71; }

/* =Global
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #eeeeee; }

a {
  font-weight: 600;
  color: #d3683e;
  text-decoration: none; }

/* Structure */
#container {
  margin: 50px auto 100px;
  padding: 50px;
  max-width: 1000px;
  background-color: white;
  border: 1px solid #f9f9f9;
  -webkit-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.15);
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.15); }

header {
  text-align: center; }

section {
  margin: 50px 0;
  border-top: 1px solid #eeeeee; }

#forms input {
  width: 19.14894%;
  margin-right: 1.06383%; }

#regular-buttons .btn {
  width: 19.14894%;
  margin-right: 1.06383%;
  margin-bottom: 10px; }

#regular-buttons .btn:nth-of-type(5) {
  margin-right: 0; }

#regular-buttons .button-icons .btn {
  width: auto;
  margin-right: 10px; }

.breadcrumbs li a span {
  font-size: 18px; }

#rating {
  *zoom: 1; }
  #rating:before, #rating:after {
    content: " ";
    display: table; }
  #rating:after {
    clear: both; }
