/* =Buttons
-------------------------------------------------------------- */

.btn {
	display: inline-block;
	padding: 10px 30px;
	margin-bottom: 0;
	font-family: $body-font;
	font-size: #{$modular-scale-down1}em;
	line-height: $line-height;
	text-align: center;
	color: $dark;
	cursor: pointer;
	background-color: $light;
	border: 1px solid darken($light, 10%);	
	@include border-radius(3px);
    @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
	@include transition (background-color .15s linear);

	&:hover {
		background-color: darken($light, 5%);
		border-color: darken($light, 15%);
	}
}
button[disabled].btn:hover {
	background-color: $light;
	border: 1px solid darken($light, 10%);		
}

.btn-dark {
	color: #eee;
	background-color: $dark;
	border-color: darken($dark, 10%);
	
	&:hover {
		background-color: darken($dark, 5%);
		border-color: darken($dark, 15%);	
	}
}
button[disabled].btn.btn-dark:hover {
	background-color: $dark;
	border-color: darken($dark, 10%);	
}

.btn-primary {
	color: #eee;
	background-color: $primary;
	border-color: darken($primary, 10%);
	
	&:hover {
		background-color: darken($primary, 5%);
		border-color: darken($primary, 15%);	
	}
}
button[disabled].btn.btn-primary:hover {
	background-color: $primary;
	border-color: darken($primary, 10%);
}

.btn-secondary {
	color: #eee;
	background-color: $secondary;
	border-color: darken($secondary, 10%);
	
	&:hover {
		background-color: darken($secondary, 5%);
		border-color: darken($secondary, 15%);	
	}
}
button[disabled].btn.btn-secondary:hover {
	background-color: $secondary;
	border-color: darken($secondary, 10%);	
}

.btn-highlight {
	color: #eee;
	background-color: $highlight;
	border-color: darken($highlight, 10%);
	
	&:hover {
		background-color: darken($highlight, 5%);
		border-color: darken($highlight, 15%);	
	}
}
button[disabled].btn.btn-highlight:hover {
	background-color: $highlight;
	border-color: darken($highlight, 10%);	
}

button[disabled].btn {
	cursor: default;
	opacity: .6;
    @include box-shadow(none);
}

.xsmall {
	padding: 3px 7px;
	font-size: #{$modular-scale-down2}em;
}

.small {
	padding: 5px 10px;
	font-size: #{$modular-scale-down1}em;
}