/* =Buttons
-------------------------------------------------------------- */

.btn {
	display: inline-block;
	padding: 10px 30px;
	margin-bottom: 0;
	font-family: $body-font;
	font-size: #{$modular-scale-down1}em;
	line-height: $line-height;
	text-align: center;
	color: $dark;
	vertical-align: middle;
	cursor: pointer;
	background-color: $light;
	border: 1px solid;
	border-color: darken($light, 10%);	
	@include border-radius(3px);
    @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
	
	&:hover {
		background-color: darken($light, 5%);
		border-color: darken($light, 15%);	
	}
}

.btn-dark {
	color: #eee;
	background-color: $dark;
	border-color: darken($dark, 10%);
	
	&:hover {
		background-color: darken($dark, 5%);
		border-color: darken($dark, 15%);	
	}
}

.btn-primary {
	color: #eee;
	background-color: $primary;
	border-color: darken($primary, 10%);
	
	&:hover {
		background-color: darken($primary, 5%);
		border-color: darken($primary, 15%);	
	}
}

.btn-secondary {
	color: #eee;
	background-color: $secondary;
	border-color: darken($secondary, 10%);
	
	&:hover {
		background-color: darken($secondary, 5%);
		border-color: darken($secondary, 15%);	
	}
}

.btn-highlight {
	color: #eee;
	background-color: $highlight;
	border-color: darken($highlight, 10%);
	
	&:hover {
		background-color: darken($highlight, 5%);
		border-color: darken($highlight, 15%);	
	}
}