/* =Forms
-------------------------------------------------------------- */

label {
	display: block;
}

#{$all-text-inputs}, 
textarea {
	padding: 7px 0 7px 7px;
	font-size: #{$modular-scale-down1}em;
	color: $dark;
	background-color: $input-bg;
	border: 1px solid darken($input-bg, 10%);
	@include border-radius(3px);
	@include box-shadow(inset 0 2px 2px rgba(0,0,0,.05));
	outline-color: lighten($dark, 20%);
}

input[disabled] {
	border: none;
	@include box-shadow(inset 0 0 0 transparent);
}

input.success {
	background-color: lighten($secondary, 50%);
	border: 2px solid $secondary;
	@include input-placeholder($secondary);
	outline-color: lighten($secondary, 10%);
}

input.error {
	background-color: lighten($highlight, 40%);	
	border: 2px solid $highlight;
	@include input-placeholder($highlight);
	outline-color: lighten($highlight, 10%);
}


// Checkboxes and radio buttons hacked from http://www.inserthtml.com/2012/06/custom-form-radio-checkbox/

/* Checkboxes */

input[type="checkbox"] + label {
	display: block;
	position: relative;
	margin: 10px 0;
	height: 20px;
	width: 20px;
	background-color: lighten($light, 20%);
	border: 1px solid darken($light, 10%);
	@include border-radius(3px);
	cursor: pointer;

	span {
		position: absolute;
		margin: -1px 0 0 25px;
		font-size: #{$modular-scale-down1}em;
	}
}

input[type="checkbox"]:checked + label:after {
	font-family: 'melicons';
	speak: none;
	font-size: #{$modular-scale-down1}em;
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\63\68\65\63\6b";	
	position: absolute;
	top: 2px;
	left: 2px;
	color: $primary;
}


/* Radio Buttons */

input[type="radio"] + label {
	display: block;
	position: relative;
	margin: 10px 0;
	height: 20px;
	width: 20px;
	background-color: lighten($light, 20%);
	border: 1px solid darken($light, 10%);
	@include border-radius(50%);
	cursor: pointer;
}

input[type="radio"]:checked + label:after {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	background-color: $primary;
	border: none;
	@include border-radius(50%);
	content: ' ';
	text-shadow: none;
}

input[type="radio"]:checked + label {
	background-color: lighten($primary, 70%);
	border: 1px solid lighten($primary, 10%);
}

/* Both */

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	span {
		position: absolute;
		margin: -1px 0 0 25px;
		font-size: #{$modular-scale-down1}em;
	}
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
	background-color: darken($light, 10%);
	border-color: darken($light, 20%);
	opacity: .25;
	cursor: default;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
	background-color: lighten($primary, 70%);
	border: 1px solid lighten($primary, 10%);
}

/* Toggles */

.toggle p span {
	display: none;
}

.toggle {
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	width: 100%;
	height: 35px;
	background-color: $dark;
	border: 1px solid darken($dark, 10%);
	@include border-radius(20px);
	@include box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.1));
	text-transform: uppercase;	
}

.toggle label {
	position: relative;
	z-index: 3;
	display: block;
	width: 100%;
}

.toggle input {
	position: absolute;
	opacity: 0;
	z-index: 5;
}

.toggle p {
	position: absolute;
	left: -10%;
	width: 100%;
	margin: 0;
	padding-right: 10%;
	text-align: left;
}

.toggle p span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: block;
	width: 50%;
	margin-left: 10%;
	text-align: center;
}

.toggle p span:last-child {
	left: 50%;
}

.toggle .slide-button {
	z-index: 4;
	display: block;
	position: absolute;
	right: 0;
	top: 0px;
	padding: 0;
	width: 50%;
	height: 100%;
	background-color: $primary;
	border: 1px solid darken($primary, 10%);
	@include border-radius(18px);
	@include transition(all 0.15s ease-in-out);
}

.toggle label,
.toggle p {
	line-height: 35px;
	vertical-align: middle;
	color: $light;
	font-size: #{$modular-scale-down1}em;
	font-weight: 400;
}

.toggle input:checked ~ .slide-button {
	right: 50%;
}

.toggle input:focus ~ .slide-button {
	outline: 1px dotted #888;
}

	// Reverse

	.toggle.toggle-reverse {
		background-color: $secondary;
		border: 1px solid darken($secondary, 10%);
		@include border-radius(20px);
		text-transform: uppercase;
	}

	.toggle.toggle-reverse .slide-button {
		background-color: $dark;
		border: 1px solid darken($dark, 10%);
		@include border-radius(18px);
	    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.25));
	}

	.toggle.toggle-reverse p {
		color: $light;
		font-weight: 400;
	}

	// Icons

	.toggle .toggle-icon {
		padding-top: 8px;
	}

	// Sizes

	.toggle-small {
		width: 60px;
		height: 25px;

		label,
		p {
			line-height: 25px;
		}

		.toggle-icon {
			padding-top: 5px;
		}
	}

	.toggle-medium {
		width: 100px;
	}

	.toggle-large {
		width: 120px;
		height: 40px;
		@include border-radius(22px);

		.slide-button {
			@include border-radius(20px);
		}

		label,
		p {
			line-height: 40px;
		}

		.toggle-icon {
			padding-top: 12px;
		}
	}



