/* =Forms
-------------------------------------------------------------- */

#{$all-text-inputs}, textarea {
	padding: 7px 0 7px 7px;
	font-size: #{$modular-scale-down1}em;
	color: $dark;
	background-color: $input-bg;
	border: 1px solid darken($input-bg, 10%);
	@include border-radius(3px);
	@include box-shadow(inset 0 2px 2px rgba(0,0,0,.05));
}

input[disabled] {
	border: none;
	@include box-shadow(inset 0 0 0 transparent);
}

input.success {
	background-color: lighten($secondary, 50%);
	border: 2px solid $secondary;
	@include input-placeholder($secondary);
}

input.error {
	background-color: lighten($highlight, 40%);	
	border: 2px solid $highlight;
	@include input-placeholder($highlight);
}