/* =Global
-------------------------------------------------------------- */

* {
    @include box-sizing(border-box);
}

html {

}

body {

}


/* Structure */

#container {
	max-width: 1000px;
	margin: 0 auto 50px;
}

header {
	text-align: center;
}

#buttons .btn {
	margin-right: 10px;
}

.buttons-disabled,
.button-icons,
.slider-navigation {
	margin-top: 20px;
}