/* =Global
-------------------------------------------------------------- */

* {
    @include box-sizing(border-box);
}

html {

}

body {
	background-color: $light;
}


/* Structure */

#container {
	margin: 50px auto 100px;
	padding: 50px;
	max-width: 1000px;
	background-color: white;
	border: 1px solid #f9f9f9;
	@include box-shadow(0,0,5px,rgba(0,0,0,.15));
}

header {
	text-align: center;
}

section {
	margin: 50px 0;
	border-top: 1px solid $light;
}

#forms input {
	width: columns(2);
	margin-right: gutter();
}

.buttons-disabled,
.button-icons,
.slider-navigation {
	margin-top: 20px;
}

#buttons .btn {
	width: columns(2);
	margin-right: gutter();
	margin-bottom: 10px;
}

#buttons .btn:nth-of-type(5) {
	margin-right: 0;
}