/* =Global
-------------------------------------------------------------- */

* {
    @include box-sizing(border-box);
}

html {

}

body {

}


/* Structure */

#container {
	max-width: 1000px;
	margin: 0 auto;
}

header {
	text-align: center;
}

.button-icons {
	margin-top: 20px;
}