/* =Icons
-------------------------------------------------------------- */

@font-face {
    font-family: 'melicons';
    src: url('melicons.eot');
    src: url('melicons.eot?#iefix') format('embedded-opentype'),
         url('melicons.woff') format('woff'),
         url('melicons.ttf') format('truetype'),
         url('melicons.svg#melicons') format('svg');
}

.icon-view, .icon-upload, .icon-up, .icon-trash, .icon-star, .icon-search, .icon-save, .icon-right, .icon-pencil, .icon-menu, .icon-mail, .icon-link, .icon-left, .icon-home, .icon-download, .icon-down, .icon-comment, .icon-cog, .icon-check, .icon-chat, .icon-cancel, .icon-attach, .icon-add {
	font-family: 'melicons';
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-view:before {
	content: "\76\69\65\77";
}
.icon-upload:before {
	content: "\75\70\6c\6f\61\64";
}
.icon-up:before {
	content: "\61\72\75\70";
}
.icon-trash:before {
	content: "\74\72\61\73\68";
}
.icon-star:before {
	content: "\73\74\61\72";
}
.icon-search:before {
	content: "\73\65\61\72\63\68";
}
.icon-save:before {
	content: "\73\61\76\65";
}
.icon-right:before {
	content: "\61\72\72\69\67\68\74";
}
.icon-pencil:before {
	content: "\70\65\6e\63\69\6c";
}
.icon-menu:before {
	content: "\6d\65\6e\75";
}
.icon-mail:before {
	content: "\6d\61\69\6c";
}
.icon-link:before {
	content: "\6c\69\6e\6b";
}
.icon-left:before {
	content: "\61\72\6c\65\66\74";
}
.icon-home:before {
	content: "\68\6f\6d\65";
}
.icon-download:before {
	content: "\64\6f\77\6e\6c\6f\61\64";
}
.icon-down:before {
	content: "\61\72\64\6f\77\6e";
}
.icon-comment:before {
	content: "\63\6f\6d\6d\65\6e\74";
}
.icon-cog:before {
	content: "\63\6f\67";
}
.icon-check:before {
	content: "\63\68\65\63\6b";
}
.icon-chat:before {
	content: "\63\68\61\74";
}
.icon-cancel:before {
	content: "\63\61\6e\63\65\6c";
}
.icon-attach:before {
	content: "\61\74\74\61\63\68";
}
.icon-add:before {
	content: "\61\64\64";
}

.icon-view:before,
.icon-upload:before,
.icon-up:before,
.icon-trash:before,
.icon-star:before,
.icon-search:before,
.icon-save:before,
.icon-right:before,
.icon-menu:before,
.icon-mail:before,
.icon-pencil:before,
.icon-link:before,
.icon-download:before,
.icon-home:before,
.icon-down:before,
.icon-comment:before,
.icon-cog:before,
.icon-check:before,
.icon-chat:before,
.icon-cancel:before,
.icon-attach:before,
.icon-add:before,
.icon-left:before {
	font-family: 'melicons';
}

.icon-container {
	display: inline-block;
	margin: 5px 15px 5px 0;	
	padding: 5px 10px;
	width: 15em;
	font-size: #{$modular-scale-base}em;
	background: $light;
}

.btn.left-icon,
.btn.right-icon {
	padding: 0 10px;
	height: 40px; 
	line-height: 40px;
	font-weight: 600;
}

.left-icon:before {
	float: left;
	margin-right: 10px;
	padding: 0 10px 0 0;
	border-right: 1px solid rgba(0,0,0,.15);
}

.right-icon:before {
	float: right;
	margin-left: 10px;
	padding: 0 0 0 10px;
	border-left: 1px solid rgba(0,0,0,.15);
}
