/* =Misc Items
-------------------------------------------------------------- */

/* Star Ratings */

// Code hacked from http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/

.rating {
    float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: $light;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label, 
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: $highlight;
}

/* Slider Navigation */

// Code hacked frmo http://jsfiddle.net/ryanseddon/FeJT2/

.slider-nav {
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	@include border-radius(50%);
}

.slider-navigation input {
	opacity:0;
	position: absolute;
	cursor: pointer;
}

.slider-navigation input + label {
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
    cursor: pointer;
    vertical-align: middle;
	background-color: $light;
    background-repeat: no-repeat;
	@include border-radius(50%);
	@include transition (background-color .15s linear);    
}

.slider-navigation input:hover + label {
	background-color: $highlight;
	border: 1px solid darken($highlight, 10%);    
}

.slider-navigation input:checked + label {
	background-position: 0 0;
	background-color: $secondary;
	border: 1px solid darken($secondary, 10%);    
}