@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Input-placeholder code grabbed from https://github.com/michaelsacca/Compass-Placeholder-Text-Mixin/blob/master/_placeholderText.scss

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
	}
  &:-moz-placeholder {
    color: $color; 
	}
  &:-ms-input-placeholder {
    color: $color; 
	}
  &::-webkit-input-placeholder {
    color: $color; 
	} 
}