/* =Typography
-------------------------------------------------------------- */

body {
    font-family: $body-font;
	font-size: $body-size;
	line-height: $line-height;
    color: $dark;
}

a {
    
    &:hover {
        text-decoration: underline;
    }
}

em {
    font-style: italic;
}

h1 {
	font-family: $header-font;
	font-size: #{$modular-scale-up5}em;
	font-weight: 300;
}

h2 {
	font-family: $header-font;
	font-size: #{$modular-scale-up3}em;
	margin-bottom: 15px;
}

h3 {
	font-size: #{$modular-scale-up2}em;
	font-weight: 600;
	text-transform: uppercase;
}

h4 {
	font-size: #{$modular-scale-up1}em;
	font-weight: 600;
	text-transform: uppercase;	
}

h5 {
	font-size: #{$modular-scale-down1}em;
	text-transform: uppercase;
}