/* =Typography
-------------------------------------------------------------- */

body {
    font: 62.5% $body-font;
}

a {
    
    &:hover {
        text-decoration: underline;
    }
}

em {
    font-style: italic;
}

h1 {
	font-size: #{$modular-scale-up5}em;
	font-weight: 300;
}

h2 {
	font-size: #{$modular-scale-up3}em;
}

h3 {
	font-size: #{$modular-scale-up1}em;
	font-weight: 600;
	text-transform: uppercase;
}