/* =Variables
-------------------------------------------------------------- */

// Colors
$dark-grey:         #5a5a5a; // primary
$light-grey:        #f3f5f5; // secondary

// Scheme
$primary: 			$dark-grey;
$secondary:			$light-grey;

// Typography
$body-font:         "Open Sans", sans-serif;
$line-height:       1.4;